/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
.idea/
.env
.env.backup
.phpunit.result.cache
.styleci.yml
.gitattributes
.editorconfig
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
